.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(29, 29, 29);
}

.logo {
  font-size: 18px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(179, 178, 178);
}

.navbar-links a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: rgb(235, 232, 232);
  padding: 20px;
}

.active {
  background-color: rgba(7, 7, 7, 0.342);
}
